<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissão de Internet -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Para leitura de imagens -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Para leitura de vídeos -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- Para leitura de áudio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Para escrita de imagens -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" /> <!-- Para escrita de vídeos -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" /> <!-- Para escrita de áudio -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.auth.GOOGLE_SIGN_IN"
        android:value="@string/default_web_client_id" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RassoOnlineApp"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".View.AddCreditActivity"
            android:exported="false" />
        <activity
            android:name=".View.MyFinanceActivity"
            android:exported="false" />
        <activity
            android:name=".View.InaproprieteContentActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Admin.BannedActivity"
            android:exported="false" />
        <activity
            android:name=".View.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".View.HistoryPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="true"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.RassoOnlineApp.NoActionBar" />
        <activity
            android:name=".View.ManageProjectClientActivity"
            android:exported="false" />
        <activity
            android:name=".View.ManageProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".View.ServiceManageActivity"
            android:exported="false" />
        <activity
            android:name=".View.PortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".View.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".View.DealActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".View.ProposalsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".View.ChatActivity"
            android:exported="false" />

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".View.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>