<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissão de Internet -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Para leitura de imagens -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Para leitura de vídeos -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- Para leitura de áudio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Para escrita de imagens -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" /> <!-- Para escrita de vídeos -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" /> <!-- Para escrita de áudio -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RassoOnlineApp"
        tools:targetApi="31">
        <activity
            android:name=".Portfolio_Item_Activity"
            android:exported="false" />
        <activity
            android:name=".ManageProjectClientActivity"
            android:exported="false" />
        <activity
            android:name=".ManageProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceManageActivity"
            android:exported="false" />
        <activity
            android:name=".PortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".DealActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ProposalsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UsersActivity"
            android:exported="false" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".PhoneActivity"
            android:exported="true" />
        <activity
            android:name=".OTPActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".SigninActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>